.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emp-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5%;
}
.emp-card-listing {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  margin-top: 3%;
}
.status-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%; 
}
.dot {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}
.onvacation {
  background-color: #F7695C;
}
.working {
  background-color: #5BDD96;
}
.lunchtime {
  background-color: #FBBC04;
}
.businesstrip {
  background-color: #A92ED4;
}
.employee-card.onvacation:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #F7695C;
}
.employee-card.working:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #5BDD96;
}
.employee-card.lunchtime:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #FBBC04;
}
.employee-card.businesstrip:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #A92ED4;
}